<h2 class="text-center">User info</h2>

  <% if @user.errors.any? %>
    <div class="error-message">
      <h2 class="error-title"><%= @user.errors.count %>error prohibited this book from being saved:</h2>
        <ul class="error-body">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

<%= form_with model:@user, local:true do |f| %>

<div class="text-center">
  <label for="inputName">Name</label>
</div>

<div class="text-center">
  <%= f.text_field :name %>
</div>

<div class="text-center">
  <label for="inputImage">Image</label>
</div>

<div class="text-center">
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
</div>

<div class="text-center">
  <label for="inputName">Introduction</label>
</div>

<div class="text-center">
  <%= f.text_field :introduction %>
</div>

<div class="text-center">
  <%= f.submit "Update User" %>
</div>

<% end %>